* {
    background-image: url("http://www.walldevil.com/wallpapers/a87/space-background-wallpaper-wallpapers-art-stars-outer-nebulae.jpg");
    background-size: cover;
    font-family: "Space Mono", monospace;
    color: white;
}
